html, body, input, select, textarea{
      font-size: 1.05em !important;
    }

img {
  padding: 0;
}

td{
  padding-right: 10px;
}

body{
  background: url(http://icons.wxug.com/data/wximagenew/t/tamcat/638-awesome.jpg) no-repeat;
  background-size: 100%;
}

.navbar-inner {
    background:transparent;
}

.logo{
  color: black;
}

hr{
  border: 1px solid transparent;
    height: 0px;
}
